<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="2.0.33" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.774.44" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210403.2" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.210204.1" targetFramework="native" />
</packages>